.textHeading {
  font-weight: bold;
  font-size: 20px;
}

.plus {
  font-weight: bolder;
  font-size: 50px;
  background: #4ca1a3;
  padding: 0;
  border-top: 0;
}

.plusButton {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background: #4ca1a3;
  margin: 0;
  overflow: hidden;
  display: flex;

  justify-content: center;
  align-items: center;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 1000px;
  max-width: 80%;
  scroll-behavior: auto;
}

.form.active {
  transform: translate(-50%, -50%) scale(1);
}

.form-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.form-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.form-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.inputForm {
  display: flex;
  justify-content: space-around;
  height: 90px;
}
.plusMinus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-top: 30px;
}

.hidden {
  display: none;
}

#plusButtonExamForm:focus {
  outline: none !important;
  outline: none !important;
  box-shadow: none;
}
#minusButtonExamForm:focus {
  outline: none !important;
  box-shadow: none;
}
.examSubmitButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.ExamTimeCreate .textHeading {
  text-align: center;
}

.ExamTimeCreate .plusButton {
  text-align: center;
  margin: auto;
}
