.Exam-timeContainer {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

.ExamTimeheading {
  font-size: 25px;
  font-weight: 700;
  color: #4ca1a3;
}
