/* pdf start */
.pdfDisplay {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 2%;
}

.pdf-element {
  display: flex;
  padding: 10px 0px;
  align-items: center;
}
.pdf-element:hover {
  background-color: rgb(255, 255, 190);
}
.pdf-element img {
  height: 24px;
  width: 24px;
}
.pdf-element p {
  margin: 0;
}
/* pdf ends */
.hidden {
  display: none;
}
/* image start*/
.imageDisplay {
  padding-left: 2%;
  display: flex;
  flex-direction: column;

  list-style: none;
}

.image-element {
  display: flex;
  padding: 10px 0px;
  align-items: center;
}
.image-element p {
  margin: 0;
}
.image-element:hover {
  background-color: rgb(255, 255, 190);
}
.imageDisplay .image {
  width: 24px;
  height: 24px;
  background-size: cover;
  object-fit: contain;
}
/* image end  */
/* link display */
.linkDisplay {
  padding-left: 2%;
}
.link-element:hover {
  background-color: rgb(255, 255, 190);
}

.linkButton {
  padding: 0px 25px;
}
